const Controller = require("./Controller");
const CONSTANT = require("../../app_config/constants");
const { log } = require("../Providers/ActivityLogProvider");

class ControllerName extends Controller {

  get() {
    try {
      this.response({});
    } catch (err) {
      this.responseError({ error:error });
    }
  }


  post() {
    try {
      this.response({});
    } catch (err) {
      this.responseError({ error:error });
    }
  }


  getWithParam() {
    const id = this.params.id;
    try {
      this.response({});
    } catch (err) {
      this.responseError({ error:error });
    }
  }


  update() {
    const id = this.params.id;
    try {
      this.response({});
    } catch (err) {
      this.responseError({ error:error });
    }
  }


  delete() {
    const id = this.params.id;
    try {
      this.response({});
    } catch (err) {
      this.responseError({ error:error });
    }
  }
}

module.exports = (...args) => new ControllerName(...args);
