const { use } = require("../Helpers/Global");
const Controller = require("./Controller");
const Res = use("ResponseController").formController();

class ControllerName extends Controller {
  constructor(req, res, next) {
    this.req = req;
    this.res = res;
    this.next = next;
    this.params = req.params;
    this.body = req.body;
    this.send = Res(res);
    this.response = Res(res).success;
  }


  get() {
    try {
      this.response({});
    } catch (err) {
      this.send.error({ msg: err.message });
    }
  }


  post() {
    try {
      this.response({});
    } catch (err) {
      this.send.error({ msg: err.message });
    }
  }


  getWithParam() {
    const id = this.params.id;
    try {
      this.response({});
    } catch (err) {
      this.send.error({ msg: err.message });
    }
  }


  update() {
    const id = this.params.id;
    try {
      this.response({});
    } catch (err) {
      this.send.error({ msg: err.message });
    }
  }


  delete() {
    const id = this.params.id;
    try {
      this.response({});
    } catch (err) {
      this.send.error({ msg: err.message });
    }
  }
}

module.exports = (...args) => new ControllerName(...args);
