const Model = Sequelize.Model;
const { Sequelize, sequelize } = require("../../app_config/database");
const {
  fillable,
  tableName,
} = require("../../databases/migrations");

class DefineModelName extends Model {}

DefineModelName.init(fillable(Sequelize),
  { sequelize, modelName: "ModelName" ,tableName:tableName}
);

module.exports = {
  DefineModelNameClass: new DefineModelName(),
  DefineModelName
};
